<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>SPAのサンプルアプリ</title>
</head>
<body>
  <div id="app">
    <nav>
      <router-link to="/home">Home</router-link>
      <router-link to="/users">User List</router-link>
    </nav>
    <router-view></router-view>
  </div>
  <script src="https://unpkg.com/vue@2.5.17"></script>
  <script src="https://unpkg.com/vue-router@3.0.1"></script>

  <script type="text/x-template" id="user-list">
    <div>
      <div class="loading" v-if="loading">読み込み中</div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <div v-for="user in users" :key="user.id">
        <h2>{{ user.name }}</h2>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="user-detail">
    <div>
      <div class="loading" v-if="loading">読み込み中</div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <div v-if="user">
        <h2>{{ user.name }}</h2>
        <p>{{ user.description }}</p>
      </div>
    </div>
  </script>

  <script>
    // 擬似API
    // JSONを返す
    var getUsers = function(callback) {
      setTimeout(function () {
        callback(null, [
          { id: 1, name: 'John' , description: '初めまして、友達を募集しています。'},
          { id: 2, name: 'Jane' , description: '初めまして、仕事を探しています。'}
        ])
      }, 1000)
    }

    var getUser = function (userid, callback) {
      setTimeout(function() {
        var filteredUsers = userData.filter(function(user) {
          return user.id == parseInt(userId, 10)
        })
        callback(null, filteredUsers && filteredUsers[0])
      }, 1000)
    }

    var UserDetail = {
      template: '#user-detail',
      data: function () {
        return {
          loading: false,
          user: null,
          error: null
        }
      },

      created: function() {
        this.fetchData()
      },

      watch: {
        '$route': 'fetchData'
      },

      methods: {
        fetchData: function() {
          this.loading = true
          this.error = null
          var userId = this.$route.params.userId
          getUser(userId, function(err, user) {
            this.loading = false
            if (err) {
              this.error = err
            } else {
              this.user = user
            }
          }.bind(this))
        }
      }
    }

    var UserList = {
      template: '#user-list',
      data: function () {
        return {
          loading: false,
          users: function () { return [] },
          error: null
        }
      },

      created: function () {
        this.fetchData()
      },

      watch: {
        '$route': 'fetchData'
      },
      methods: {
        fetchData: function() {
          this.loading = true
          getUsers((function (err, users) {
            this.loading = false
            if (err) {
              this.error = err.toString()
            } else {
              this.users = users
            }
          }).bind(this))
        }
      }
    }

    var router = new VueRouter({
      routes: [
        {
          path: '/home',
          component: {
            template: '<div>Homeです。</div>'
          }
        },
        {
          path: '/users',
          component: UserList
        },
        {
          path: 'users/:userId',
          component: UserDetail
        }
      ]
    })

    var app = new Vue({
      router: router
    }).$mount('#app')
  </script>
</body>
</html>